*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: white;
}
.container{
    
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    height: 50rem;
    width: 50rem;
    margin: 20px auto;
}
#calculator{
    background-color: coral;
    width: 320px;
    height: 520px;
    position: relative;
    top: 144px;
    margin: 0 auto;
    border-radius: 5px;
}
#result{
    height: 120px;
}
#history{
    text-align: right;
    height: 200px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;
}
#output{
    text-align: right;
    height: 60px;
    margin: 10px;
    font-size: 30px;
}
#keyboard{
    height: 400px;
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    font-weight: bold;
    font-size: 15px;
}
.number, .empty{
    background-color: white;
}
.number, .operator{
    cursor: pointer;
}
.operator:active, .number:active{
    font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
    outline: 0;
}